* {
  margin: 0;
  padding: 0;
}

body {
  background: #051D3B;
  color: white;
  font-family: 'Inter', sans-serif;
  /* TYPOGRAPHY */
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  text-transform: none;
  word-spacing: normal;
}

header {
  display: flex;
  margin: 2rem 2rem 2.5rem 2rem;
}

#logo {
  margin: calc(1rem*12/16) 10.4375rem calc(1rem*10/16) calc(1rem*25/16);
}

#procura {
  display: inline;
  margin-right: 12.875rem;
  width: calc(1rem*752/16);
  height: calc(1rem*56/16);
  background-color: #ffffff16;
  color: white;
}

.transparencia {
  background-color: #ffffff16;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  padding-top: 1rem;
  padding-left: calc(1rem*14/16);
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  border: none;
}

::placeholder {
  color: white;
}

#barra__de__procura {
  width: calc(1rem*752/16);
  height: calc(1rem*56/16);
}

#login {
  display: flex;
  align-items: center;
  width: calc(1rem*106/16);
  height: calc(1rem*56/16);
}

#foto_user {
  display: flex;
  width: calc(1rem*32/16);
  height: calc(1rem*32/16);
  margin: calc(1rem*12/16) calc(1rem*8/16) calc(1rem*12/16) calc(1rem*12/16);
}

nav {
  display: block;
  float: left;
  width: calc(1rem*190/16);
  font-weight: 400;
  margin-left: 2rem;
  margin-right: calc(1rem*123/16);
}

.separado {
  letter-spacing: calc(40*0.001rem);
  font-size: calc(1rem*12/16);
  margin-bottom: 1rem;
}

#menu {
  width: 51px;
  height: 18px;
}

.menu__div {
  display: flex;
  align-items: center;
  width: calc(1rem*189/16);
  height: calc(1rem*48/16);
}

.text__menu {
  margin-left: 0rem;
  width: calc(1rem*189/16);
}

.logo__menu {
  margin-right: 1rem;
  padding: calc(1rem*12/16);
  background-color: #ffffff16;
  border-radius: 1rem;
}

#atual__logo {
  background-color: #5081FB;
}

a {
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #ffffff56;
}

#atual__text {
  text-decoration: none;
  color: #ffffff;
}

main {
  display: flex;
}


/* ------------ INDEX ---------------- */

#formulario {
  display: flex;
}

#code__area {
  width: calc(1rem*752/16);
  height: calc(1rem*366/16);
  border-radius: 0.5rem;
  background-color: #6BD1FF;
  border: none;
}

#code__text {
  margin: 2rem;
  width: calc(1rem*688/16 - 2rem);
  height: calc(1rem*302/16 - 2rem);
  background-color: black;
  color: white;
  font-size: calc(1rem*14/16);
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
}

#butaum__highlight {
  width: calc(1rem*752/16);
  height: calc(1rem*56/16);
  margin-top: 2rem;
  background-color: #5081FB08;
  color: #ffffff;
  border-radius: 0.5rem;
  border: none;
}

#descricao {
  margin-left: calc(1rem*40/16);
}

#projeto {
  letter-spacing: calc(40*0.001rem);
  font-size: calc(1rem*12/16);
}

#separado_duplo {
  letter-spacing: calc(40*0.01rem);
}

#nome__projeto {
  width: calc(1rem*(272 - 14)/16);
  height: calc(1rem*56/16 - 2rem);
  margin-bottom: 1rem;
}

#descricao__projeto {
  width: calc(1rem*(272 - 14)/16);
  height: calc(1rem*80/16 - 2rem);
  margin-bottom: calc(1rem*40/16);
  font-family: 'Inter', sans-serif;
}

#nome__linguagem {
  width: calc(1rem*272/16);
  height: calc(1rem*56/16);
  margin-bottom: 1rem;
}

option {
  color: white;
  background-color: #1B304D;
  font-size: 1rem;
  padding: 4rem;
}

#colores {
  width: calc(1rem*272/16);
  height: calc(1rem*56/16);
  border-width: 1px;
  border-radius: 0.5rem;
  border-color: #ffffff;
  background-color: #ffffff00;
  border-style: solid;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

#enviar {
  width: calc(1rem*272/16);
  height: calc(1rem*56/16);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  border-radius: 0.5rem;
  border: none;
  background-color: #5081FB;
}

#itens__personalizacao {
  display: block;
  width: calc(1rem*272/16);
}



/* ------------- COMUNIDADE ------------------ */

  /* posição */

  /* dimensão */

  /* aparencia do elemento */

  /* Tipografia */

  /* Outros */


  
  /* calc(1rem* /16) */ 


#publicacoes__comunidade{
  /* posição */
  display: block;

  /* dimensão */
  width: calc(1rem*1064/16);
  height: calc(1rem*952/16);

  /* calc(1rem* /16) */ 

  /* aparencia do elemento */

  /* Tipografia */

  /* Outros */
}

.dupla__de__artigo{
  /* posição */
  display: flex;

  /* dimensão */
  width: calc(1rem*1064/16);
  height: calc(1rem*464/16);
  margin-bottom: calc(1rem*24/16);

}


.artigo__comunidade__esquerdo {
  /* posição */
  display: block;

  /* dimensão */
  width: calc(1rem*520/16);
  height: calc(1rem*464/16);
  margin-right: calc(1rem*24/16);

  /* aparencia do elemento */
  background-color: #00000016;
  border-radius: 0.5rem;

  /* Tipografia */

  /* Outros */


}

.artigo__comunidade__direito {
  /* posição */
  display: block;

  /* dimensão */
  width: calc(1rem*520/16);
  height: calc(1rem*464/16);

  /* aparencia do elemento */
  background-color: #00000016;
  border-radius: 0.5rem;

  /* Tipografia */

  /* Outros */


}

.img__comentario {
  /* posição */

  /* dimensão */
  width: calc(1rem*24/16);
  height: calc(1rem*24/16);
  margin: 0.5rem;

  /* aparencia do elemento */

  /* Tipografia */

  /* Outros */
}

.img__like {
  /* posição */
  
  /* dimensão */
  width: calc(1rem*24/16);
  height: calc(1rem*24/16);
  margin: 0.5rem;
  /* aparencia do elemento */

  /* Tipografia */

  /* Outros */

}

.img__user__comunidade{
  /* posição */

  /* dimensão */
  width: calc(1rem*24/16);
  height: calc(1rem*24/16);
  margin: 0.5rem;

  /* aparencia do elemento */

  /* Tipografia */

  /* Outros */

}

.background__artigo {
  /* posição */

  /* dimensão */
  width: calc(1rem*520/16);
  height: calc(1rem*264/16);
  padding-top: 24px;

  /* aparencia do elemento */
  background-color: #9AFF6B;
  border-radius: 0.5rem;

  /* Tipografia */

  /* Outros */
}

.demostração__de__codigo {
  /* posição */

  /* dimensão */
  width: calc(1rem*472/16);
  height: calc(1rem*240/16);
  margin-left: calc(1rem*24/16);

  /* aparencia do elemento */
  background-color: #000000;
  border-radius: 0.5rem;

  /* Tipografia */
  font-family: 'Roboto Mono', monospace;
  /* Outros */
}

.title__projeto {
  /* posição */

  /* dimensão */
  width: calc(1rem*472/16);
  height: 2rem;
  margin-top: calc(1rem*24/16);
  margin-left: calc(1rem*24/16);
  margin-bottom: 0.5rem;
  /* aparencia do elemento */

  /* Tipografia */

  /* Outros */
}

.descrição__projeto {
  /* posição */

  /* dimensão */
  width: calc(1rem*472/16);
  height: calc(1rem*24/16);
  margin-top: calc(1rem*8/16);
  margin-left: calc(1rem*24/16);
  margin-bottom: calc(1rem*24/16);
  /* aparencia do elemento */

  /* Tipografia */

  /* Outros */
}


.rodape__artigo {
  /* posição */
  display: flex;
  /* dimensão */
  width: calc(1rem*472/16);
  height: calc(1rem*40/16);
  margin-left: calc(1rem*24/16);
  margin-bottom: calc(1rem*24/16);
  /* aparencia do elemento */

  /* Tipografia */

  /* Outros */
}

.rodape__comentario {
  /* posição */
  display: flex;
  /* dimensão */
  width: calc(1rem*58/16);
  height: calc(1rem*40/16);

  /* aparencia do elemento */

  /* Tipografia */

  /* Outros */
}



.rodape__like {
  /* posição */
  display: flex;
  /* dimensão */
  width: calc(1rem*58/16);
  height: calc(1rem*40/16);
  margin-right: calc(1rem*251/16);
  /* aparencia do elemento */

  /* Tipografia */

  /* Outros */
}
.rodape__user {
  /* posição */
  display: flex;
  /* dimensão */
  width: calc(1rem*105/16);
  height: calc(1rem*40/16);

  /* aparencia do elemento */

  /* Tipografia */

  /* Outros */
}

.rodape__itens {
  /* posição */


  /* dimensão */
  width: calc(1rem*10/16);
  height: calc(1rem*24/16);
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;

  /* aparencia do elemento */

  /* Tipografia */

  /* Outros */
}

.rodape__user__text {
  /* posição */


  /* dimensão */
  width: calc(1rem*57/16);
  height: calc(1rem*24/16);
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  /* aparencia do elemento */

  /* Tipografia */

  /* Outros */
}