body {
  background: #D1D1BE url(../assets/fundo.png);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #522F20;
}

#Foto__de__Capa {
  border-radius: 2rem;
}

nav {
  width: 56.25rem;
  padding: 1rem 0;
  border-radius: 2rem;
  background-color:#D1D1BE;
}
nav > ul > li {
  display: inline;
  margin-left: 7.5%;
  color: #522F20;
  font-weight: bold;
}

a{
  text-decoration: none;
  color: #522F20;
}

section {
  padding: 1rem;
  width: 54.25rem;
  height: auto;
  border-radius: 2rem;
  background-color: #C8BED1;
}

figure{
  display: block;
  float: right;
}

figcaption {
  text-align: center;
}
.foto {
  border-radius: 2rem;
  width: 23rem;
}
#campanhas{
  height: 67rem;
}

.foto__text{
  height: 18rem;
  margin-bottom: 2rem;
}

strong{
  color: #60457C;
}








footer {
  width: 56.25rem;
  text-align: center;
  font-weight: bold;
}